* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/* input::-ms-clear{display:none;} */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  background-color: #282c33;
  color: #ffffff;
  font-family: "FiraCode";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .hashtag {
  color: #c778dd;
  margin-right: 1px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
}
.header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header .container .menu_list {
  gap: 32px;
  display: flex;
  padding: 40px 10px 0px 10px;
  justify-content: space-between;
  align-items: flex-end;
}
.header .container .menu_list .nav_link {
  color: #abb2bf;
}
.header .container .menu_list .btn_lang {
  position: relative;
  cursor: pointer;
  width: 40px;
}
.header .container .menu_list .btn_lang.active .dropdown_list_lang {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
.header .container .menu_list .btn_lang.active .arrow {
  transform: rotate(180deg);
}
.header .container .menu_list .btn_lang .arrow {
  display: inline-block;
  transition: 300ms ease 0s;
}
.header .container .menu_list .nav_lang {
  font-weight: 600;
}
.header .container .menu_list .dropdown_list_lang {
  position: absolute;
  background-color: #282c33;
  border: 1px solid #abb2bf;
  right: 0px;
  padding: 15px;
  font-weight: 600;
  margin-top: 5px;
  opacity: 50%;
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}
.header .container .menu_list .dropdown_list_lang li {
  margin: 0px 0px 20px 0px;
}
.header .container .menu_list .dropdown_list_lang li:last-child {
  margin: 0px;
}
.header .container .menu_list .dropdown_list_lang li .lang {
  color: #abb2bf;
}

.footer .content {
  height: 75px;
  display: flex;
  justify-content: space-between;
}
.footer .left_content,
.footer .right_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .left_content .up,
.footer .right_content .up {
  display: flex;
}
.footer .left_content .up .logo,
.footer .right_content .up .logo {
  display: inline-block;
}
.footer .left_content .up .mail,
.footer .right_content .up .mail {
  padding-left: 24px;
}
.footer .left_content .up .media,
.footer .right_content .up .media {
  color: #ffffff;
  font-family: "FiraCode";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
