[Desktop Entry]
Icon=text-html
Name=Maket - Portfolio
Type=Link
URL[$e]=https://www.figma.com/file/MZC13zLBfz6U7z1aqmMkQ7/Portfolio-(Community)?type=design&node-id=0-1&mode=design
