@import "cleanstyle.scss";

$gray: #ABB2BF;
$white: #ffffff;

$scres_1: 540px;

body {
    background-color: #282C33;
    color: $white;
    font-family: "FiraCode";
    font-size: 16px;
    font-weight: 400;

    .hashtag {
        color: #C778DD;
        margin-right: 1px;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .container {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0px 10px;
        background-color: rgb(41, 41, 41);

        .menu_list {
            gap: 30px;

            &>li {
                position: relative;
                margin: 0px 0px 0px 20px;
            }

            .nav_link {
                color: $gray;

                &:hover {
                    text-decoration: underline;
                }
            }

            .nav_lang {
                font-weight: 600;
            }

            .dropdown_list_lang {
                position: absolute;
                background-color: black;
                top: 100%;
                right: 0px;
                padding: 15px;
                font-weight: 600;
                //opacity: 0;
                //visibility: hidden;

                li {
                    margin: 0px 0px 20px 0px;

                    &:last-child {
                        margin: 0px;
                    }

                    .lang {
                        color: $gray;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }
}

.br {
    padding-top: 70px;
}

.menu_list>li:hover .dropdown_list_lang {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

.arrow {
    display: none;
}

.menu_list>li {
    //display: flex;
    align-items: center;
}

.arrow { 
    display: inline-block;
    transition: 300ms ease 0s;
    margin: 0px 0px 0px 5px; 
}

.nav_link {
    flex: 1 1 auto;
}

.menu_list ._active .dropdown_list_lang {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
.menu_list ._active .arrow {
    transform: rotate(180deg);
}

@media (min-width:$scres_1) {
    .menu_list {
        display: flex;
        padding: 40px 10px 0px 10px;
        justify-content: space-between;
        align-items: flex-end;

        .dropdown_list_lang {
            transform: translate(0px, 10%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
}


@font-face {
    font-family: "FiraCode";
    src: url("../fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}