@import "cleanstyle.scss";

$gray: #abb2bf;
$white: #ffffff;
$black-gray: #282c33;

$scres_1: 540px;

body {
  background-color: $black-gray;
  color: $white;
  font-family: "FiraCode";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .hashtag {
    color: #c778dd;
    margin-right: 1px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .menu_list {
      gap: 32px;
      display: flex;
      padding: 40px 10px 0px 10px;
      justify-content: space-between;
      align-items: flex-end;

      .nav_link {
        color: $gray;
      }
      .btn_lang {
        position: relative;
        cursor: pointer;
        width: 40px;
        &.active {
          .dropdown_list_lang {
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
            pointer-events: all;
          }

          & .arrow {
            transform: rotate(180deg);
          }
        }

        .arrow {
          display: inline-block;
          transition: 300ms ease 0s;
        }
      }
      .nav_lang {
        font-weight: 600;
      }
      .dropdown_list_lang {
        position: absolute;
        background-color: $black-gray;
        border: 1px solid $gray;
        right: 0px;
        padding: 15px;
        font-weight: 600;
        margin-top: 5px;
        opacity: 50%;
        visibility: hidden;
        pointer-events: none;
        cursor: default;

        li {
          margin: 0px 0px 20px 0px;

          &:last-child {
            margin: 0px;
          }

          .lang {
            color: $gray;
          }
        }
      }
    }
  }
}

.footer {
  .content {
    height: 75px;
    display: flex;
    justify-content: space-between;
  }
  .left_content,
  .right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .up {
      display: flex;
      .logo {
        display: inline-block;
      }
      .mail {
        padding-left: 24px;
      }
      .media {
        color: $white;
        font-family: "FiraCode";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
